body {
  background: rgba(248, 248, 248, 100);
}

.md-header a, a {
  color: #236192;
}

.md-footer a {
  color: rgba(248, 248, 248, 100);

  .md-ellipsis {
    font-size: large;
  }
}
.md-header, .md-footer {
  background: rgb(101, 102, 92);
  background: linear-gradient(180deg, rgba(101, 102, 92, 1) 0%, rgba(106, 106, 106, 1) 100%);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;

}

.md-header-nav__button.md-logo img {
  height: 2.0rem;
  width: auto;
  display: inline-block;
  margin-top: -7px;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2.0rem;
  width: auto;
  display: inline-block;
  margin-top: -7px;
}

.md-footer-nav {
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 510px;
  border-top: 58px solid #ffcd00;
}

.md-footer-nav__inner:not([hidden]) {
  display: flex;
}

.md-footer-nav__inner {
  justify-content: space-between;
  overflow: auto;
  padding: 0.2rem;
}

.md-footer-nav__link {
  display: inline-block;
}

.md-grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 61rem;
}

.md-footer-nav__title {
    /*flex-grow: 1;*/
    /*font-size: .9rem;*/
    /*margin-bottom: 0.7rem;*/
    /*max-width: calc(100% - 2.4rem);*/
    /*padding: 0 1rem;*/
    /*white-space: nowrap;*/
}

.md-footer-nav__direction {
  font-size: .64rem;
  opacity: .7;
  display: block;
}

.md-footer-nav__button {
    margin: 0.2rem;
    padding: 0.4rem;
}

.md-footer-nav__link {
  align-items: end;
  display: flex;
  flex-grow: 0.01;
  margin-bottom: 0.4rem;
  margin-top: 1rem;
  max-width: 100%;
  outline-color: var(--md-accent-fg-color);
  overflow: hidden;
  transition: opacity .25s;
}

.md-footer-nav__link--next {
  margin-left: auto;
  text-align: right;
}

.md-footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.md-footer-container-item {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  min-width: 200px;
  max-width: 400px;
  margin: 0 5px 25px 0;
}

.md-footer-container-item p {
  font-family: "Helvetica",sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1.5;
}

.md-footer-container-item h1 {
  color: white;
}

.md-footer-logo {
  width: 225px;
  margin-top: 20px;
  margin-left: 5px;
}

.md-about-us {
 max-width: 250px;
}

.md-contact-info {
  max-width: 200px;
}

.md-footer-meta {
  background-color: black;
}

.md-footer-copyright-link {
  color: #1bb0ce !important;
}

.md-footer-copyright {
  margin-left: 0;
}

.expert-rec-search {
  margin-top: 10px;
}

